// Variables & Mixins
$color-red: hsl(0, 78%, 62%);
$color-cyan: hsl(180, 62%, 55%);
$color-orange: hsl(34, 97%, 64%);
$color-blue: hsl(212, 86%, 64%);

$color-primary: hsl(234, 12%, 34%);
$color-secondary: hsl(229, 6%, 66%);

$color-light-gray: hsl(0, 0%, 98%);

@mixin respond($breakpoint) {
    @if $breakpoint == tablet {
        @media only screen and (min-width: 37.5em) {
            @content;
        }    
    }

    @if $breakpoint == desktop {
        @media only screen and (min-width: 62.5em) {
            @content;
        }    
    } 
}